<div class="filter-container">
    <h1>Filters</h1>
    <ul>
        <li>
            <label>Brands:</label>
            <div class="filter-row">
                <div class="brand-row">
                    <input type="checkbox">
                    <span>Brand 1 <i>(10)</i></span>
                </div>
                <div class="brand-row">
                    <input type="checkbox">
                    <span>Brand 2 <i>(20)</i></span>
                </div>
                <div class="brand-row">
                    <input type="checkbox">
                    <span>Brand 3 <i>(30)</i></span>
                </div>
                <div class="brand-row">
                    <input type="checkbox">
                    <span>Brand 4 <i>(40)</i></span>
                </div>
                <div class="brand-row">
                    <input type="checkbox">
                    <span>Brand 5 <i>(50)</i></span>
                </div>
                <div class="brand-row">
                    <input type="checkbox">
                    <span>Brand ... <i>(n)</i></span>
                </div>
            </div>
        </li>
        <li>
            <label>Price:</label>
            <div class="filter-row">
                <div class="price-row">
                    <input type="text" placeholder="Min price ...">
                    <input type="text" placeholder="Max price ...">
                </div>
            </div>
        </li>
    </ul>   
<div>
