 <div class="container"> 
    <div class="products-list" *ngIf="basketShop">
        <div class="product-item" *ngFor="let product of basketShop.selectedProducts;">
            <div class="product-image">

            </div>
            <div class="product-details">
                <div class="left-details">
                    <h3>{{product.name}}</h3>
                    <ul>
                        <li><b>Mark:</b> {{product.mark}}</li>
                        <li><b>Length:</b>  {{product.length}} cm</li>
                        <li><b>Height:</b>  {{product.height}} cm</li>
                        <li><b>Width:</b> {{product.width}} cm</li>
                        <li><b>Weight:</b>  {{product.Weight}} gr</li>
                    </ul>
                </div>
                <div class="right-details">
                    <h2>{{product.price}} USD</h2>
                    <div class="add-item-form">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                        <button class="modify-btn">MODIFY</button>
                        <button class="remove-btn">REMOVE</button>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <div class="summary-box">
        <div class="summary-card">
            <h2>Product summary</h2>
            <div class="prices-box">
                <label>Products price: <i style="color: red;">{{basketShop.summary.productsPrice}} USD</i></label>
                <label>Delivery price: <i style="color: red;">{{basketShop.summary.shippingPrice}} USD</i></label>
            </div>
            <hr>
            <h2>Total: {{basketShop.summary.totalPrice}} USD</h2>
            <button class="send-btn">SEND</button>
            <hr>
            <h2>Discount code</h2>
            <input type="text" class="discount-input">
            <button class="send-btn">APPLY</button>
        </div>
    </div>
</div>  