<div class="container">
    <div class="card-1">
        <h1>Microservices Webshop</h1>
        <span>This platform is built on a microservices architecture</span>
    </div>
</div>
<div class="container-2">
    <a routerLink="/products" class="slide">
        <h1>Products</h1>
        <span>It is a long established fact that a reader 
            will be distracted by the readable content of
             a page when looking at its layout.</span>
    </a>
    <a routerLink="/inventory" class="slide">
        <h1>Inventory</h1>
        <span>It is a long established fact that a reader 
            will be distracted by the readable content of
             a page when looking at its layout.</span>
    </a>
    <a routerLink="/orders" class="slide">
        <h1>Orders</h1>
        <span>It is a long established fact that a reader 
            will be distracted by the readable content of
             a page when looking at its layout.</span>
    </a>
    <a routerLink="/discount" class="slide">
        <h1>Discounts</h1>
        <span>It is a long established fact that a reader 
            will be distracted by the readable content of
             a page when looking at its layout.</span>     
    </a>
</div>