<div style="width: 50%; margin: auto;">
    <div class="imgcontainer">
      <img src="assets\images\img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  
    <form [formGroup]="loginForm" autocomplete="off" (submit)="login()">
      <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="text" formControlName="Email" placeholder="Enter Email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" formControlName="Password" placeholder="Enter Password" required>
    
        <button>Login</button>
        <label>
          <input type="checkbox" checked="checked"> Remember me
        </label>
      </div>
    </form>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw"><a routerLink="/user/register">Register</a></span>
    </div>
</div>
