<div class="container">  
    <div class="left-menu">
        <app-category></app-category>
        <hr>
        <app-filter></app-filter>
    </div>
    <div class="products-container">
        <div class="products-header">
            <h1>{{selectCategoryName}} <i>({{productsCategoryList.length}} results)</i></h1>
            <hr>
            <div class="filter-list">
                <div class="filter-row">
                    <label>Order by: </label>
                    <select>
                        <option>Price</option>
                        <option>Discounts %</option>
                        <option>News</option>
                    </select>
                </div>
                <div class="filter-row">
                    <label>Products: </label>
                    <select>
                        <option>25 per page</option>
                        <option>50 per page</option>
                        <option>100 per page</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="products-list" *ngIf="productsCategoryList">
            <div class="product-item" *ngFor="let product of productsCategoryList;">
                <div class="product-image">

                </div>
                <div class="product-details">
                    <div class="left-details">
                        <h3>{{product.name}}</h3>
                        <ul>
                            <li><b>Mark:</b> {{product.technicalSpecifications.mark}}</li>
                            <li><b>Length:</b> {{product.technicalSpecifications.length}} cm</li>
                            <li><b>Height:</b> {{product.technicalSpecifications.height}} cm</li>
                            <li><b>Width:</b> {{product.technicalSpecifications.width}} cm</li>
                            <li><b>Weight:</b> {{product.technicalSpecifications.weight}} gr</li>
                        </ul>
                    </div>
                    <div class="right-details">
                        <h2>{{product.price}} USD</h2>
                        <div class="add-item-form">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                            <button>ADD TO CART</button>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div> 

