<div class="container">  
    <div class="left-menu">
        <app-category></app-category>
        <hr>
        <app-filter></app-filter>
    </div>
    <div class="products-container">
        <div class="products-header">
            <h1>Category 1 <i>(10 results)</i></h1>
            <hr>
            <div class="filter-list">
                <div class="filter-row">
                    <label>Order by: </label>
                    <select>
                        <option>Price</option>
                        <option>Discounts %</option>
                        <option>News</option>
                    </select>
                </div>
                <div class="filter-row">
                    <label>Products: </label>
                    <select>
                        <option>25 per page</option>
                        <option>50 per page</option>
                        <option>100 per page</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="products-list">
            <div class="product-item">
                <div class="product-image">

                </div>
                <div class="product-details">
                    <div class="left-details">
                        <h3>Title product and something base specifications</h3>
                        <ul>
                            <li>Specification 1: </li>
                            <li>Specification 2: </li>
                            <li>Specification 3: </li>
                            <li>Specification 4: </li>
                            <li>Specification 5: </li>
                            <li>Specification ...: </li>
                        </ul>
                    </div>
                    <div class="right-details">
                        <h2>10 USD</h2>
                        <div class="add-item-form">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                            <button>ADD TO CART</button>
                        </div>
                    </div>                 
                </div>
            </div>

            <div class="product-item">
                <div class="product-image">

                </div>
                <div class="product-details">
                    <div class="left-details">
                        <h3>Title product and something base specifications</h3>
                        <ul>
                            <li>Specification 1: </li>
                            <li>Specification 2: </li>
                            <li>Specification 3: </li>
                            <li>Specification 4: </li>
                            <li>Specification 5: </li>
                            <li>Specification ...: </li>
                        </ul>
                    </div>
                    <div class="right-details">
                        <h2>100 USD</h2>
                        <div class="add-item-form">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                            <button>ADD TO CART</button>
                        </div>
                    </div>                 
                </div>
            </div>

            <div class="product-item">
                <div class="product-image">

                </div>
                <div class="product-details">
                    <div class="left-details">
                        <h3>Title product and something base specifications</h3>
                        <ul>
                            <li>Specification 1: </li>
                            <li>Specification 2: </li>
                            <li>Specification 3: </li>
                            <li>Specification 4: </li>
                            <li>Specification 5: </li>
                            <li>Specification ...: </li>
                        </ul>
                    </div>
                    <div class="right-details">
                        <h2>1 000 USD</h2>
                        <div class="add-item-form">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                            <button>ADD TO CART</button>
                        </div>
                    </div>                 
                </div>
            </div>

        </div>
    </div>
</div> 
